.secret-objective {
  background-color: rgba(139, 0, 0, 0.5);
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.objective {
  background-color: rgba(0, 133, 255, 0.5);
  padding: 2px;
  color: white;
  border-radius: 5px;
}
