.invisible {
  display: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 25%;
  z-index: 999998;
}

::deep .popout {
  color: black !important;
  position: fixed;
  left: 10vw;
  top: 10vw;
  width: 80vw !important;
  background: white;
  opacity: 100%;
  z-index: 999999;
  max-height: 90vh;
  overflow: auto;
}

.result {
  display: flex;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  height: 2em;
  width: 2em;
  align-content: center;
  justify-content: center;
}

.glow {
  outline: 2px solid transparent;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.body {
  background-color: black;
}
